[Unit]
Description=Zcash Daemon (Testnet)
After=network.target
Wants=zcashd_mainnet
StartLimitBurst=5
StartLimitIntervalSec=10

[Service]
Type=simple
Restart=always
RestartSec=1
User=gesker
ExecStart=/usr/bin/zcashd -conf=/home/yourUsername/.zcash/zcash.conf.testnet 

[Install]
WantedBy=multi-user.target

